body{
    margin: 0%;
}

h1{
    font-size: 75px;
    line-height: 75px;
    color:black ;
}

h2{
    font-size: 50px;
    line-height: 50px;
    color: black;
}

h4{
    font-size: 37px;
    color: chartreuse;
    margin:0%;
    line-height: 40px;
    font-family: 'Unica One';
}

h6{
    font-size: 25px;
    font-weight: 12px;
    margin: 0;
}

p{
    font-size: 19px;
    color: floralwhite;
    margin: 23px 0 20px 0;
    font-family: 'Rajdhani';
}

.section_p1{
    padding: 40px 80px;
 
}

.section_m1{
    margin: 40px 0px;
 
}

body{
    width: 100%;
    background-repeat: no-repeat;
    background-size: 64%;
    background-attachment: scroll;
    background-position: right 4%;
    background-color: black;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    background-color: #088179db;
    height: 80px;
    z-index: 999;
    /* width: 200px; */
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: -7px 11px 20px #088178;
}
::selection{
    background: rgb(255, 123, 75);
    color:black;
    font-weight: 700;
}

#header img{
    padding-top: 50px;
    scroll-behavior: smooth;
    width:125px ;
    height:100px;
}

/*-----header, navigation----*/
#navbar{
    display: flex;
    align-items: left;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navbar li{
    padding: 0px 40px;
    list-style-type: none;
    position: relative;

}

#navbar li a{    
    text-decoration: none;
    font-size: 22.5px;
    font-family: 600;
    font: lighter;
    color:rgb(0, 0, 0);
    transition: 0.2s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: white;
    font-size: 26px;
}

#navbar li a.active::after{
    content: "";
    width: 27%;
    height: 6px;
    background: orangered;
    position: absolute;
    bottom: -12px;
    left: 40px;
}
#mobile{
    display: none;
    align-items: center;

}
#close{
    display:none;
}
/*------Home page-----*/
#hero{
    background-size: 65%;
    background-image: url("51bcc2a7c163d6bfe69be9a3d67d6986.jpg");
    height: 600px;
    background-position: top -2% right 0;
    padding: 50px 80px;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 69px;
    margin-bottom: -9%;
}    

#hero h6{
    margin:0px;
    padding-bottom: 15px;
    color: rgb(237, 101, 101);
    margin-top: 5%;
    font-size: x-large;
}

#hero h1{
    margin:0px;
    color: orangered;
    margin-top: 2%;
    font-size: 58px;
}

#hero h2{
    margin:0px;
    color: #11c1b6;
    font-size: 73px;
}

#hero button{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 600;
    background-image: url(button.png);
    background-blend-mode: difference;
    background-color: transparent;
    border: 0;
    background-size: 100%;
    height: 100px;
    width: 200px;

}
#feature{
    z-index: 998;
    background-image: url("featback.png");
    display: grid;
    align-items: center;
    justify-content: space-between;
    margin-right: 0%;
    margin-left: 0%;
    background-size: 100%;
    margin-top: 10%;
    height: 129%;
    width: 1477px;
}

#feature .fe_box{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: inherit;
    text-align: center;
    display: flex;
    justify-content: inherit;
    margin-left: 0%;
}    
#feature .fe{
    font-family: Unica One;
    width:inherit;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-left: -36%;
    /* margin-right: 79px; */
}
#feature .fe h6{
    color: #088178;
    line-height: 2;
    border-radius: 4px;
    margin-right: -36%;
    margin-bottom: 2%;
    box-shadow: 0px 10x 0px 10px #cdebbc;
}
#feature .fe_box img{
    width: 304px;
    height: 283px;
    margin-top: 5%;
    margin-right: 6%;
    margin-left: 5%;
    border-radius: 18px;
}

#feature .fe:nth-child(2) h6{
    background-color: #cdebbc;
    width: 324px;
    font-size: 23px;
    margin-left: 35%;
    /* margin-right: -40%; */
}

#feature .fe:nth-child(4) h6{
    background-color: #cdd4f8;
    width: 324px;
    margin-left: 35%;
    margin-bottom: 5%;
}

/* Featured Products */
#product{
    text-align: center;
    margin: 50px;
    margin-top: 2%;
}
#product .product_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#product h2{
    color: tomato;
    font-family: Monoton;
    font-weight: 100;
    margin-top: 75px;
}

#product p{
    font-size: x-large;
    font-family: monospace;
    font-style: italic;
    color: #9e9e9e;
}

#product .pro{
    width: 25%;
    height: 616px;
    padding: 22px 27px;
    border: 1px solid  orangered;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 4px rgb(0 0 0 / 10%);
    margin: 15px 0px 15px 0px;
    transition: 0.3s ease;
    position: relative;
    top: 10%;
    background-color: rgb(255 255 255);
}
#product .pro:hover{
    box-shadow: 0px 0px 25px 10px #f3bc6c57;
}

#product .pro img{
    width: 100%;
    border-radius: 20px;
    z-index: 997;
}

#product .pro .des{
    text-align: start;
}
#feat-pro-banner {
    width: 396px;
    /* background-color: white; */
    border-radius: 20px;
    /* height: 657px; */
}
#feat-pro-banner img{
    width: 88%;
    margin: 14px;
    margin-top: 22px;
    border-radius: 20px;
    /* height: 502px; */
    box-shadow: -1px 1px 118px lightslategray;
}
#product .pro .des span{
    color: orangered;
    font-size: 20px;
    font-family: Unica One;
}

#product .pro .des h3{
    color: #9e9e9e;
    margin-right: 53%;
    font-family: 'Monoton';
}

#product .pro .des button.colour{
    position: absolute;
    right: 37%;
    bottom: 6%;
    border: 0px solid black;
    border-radius: 100px;
    height: 8%;
    width: 14%;
    z-index: 990;
}    

#product .pro .des button.colour:hover{
    background-color: grey;
    cursor: pointer;
    height: 10%;
    width: 18%;
    right: 37%;
    bottom: 6%;
    transition: 1sec;
}

#product .pro .des button.colour2{
    position: absolute;
    right: 27%;
    bottom: 1%;
    border-radius: 100px;
    background-color: rgb(205 205 205);
    border: 0px solid black;
    height: 6%;
    width: 10%;
}

#product .pro .des button.colour2:hover{
    background-color: bisque;
    cursor: pointer;
    height: 7%;
    width: 13%;
    right: 26%;
    bottom: 1%;
    transition: 1sec;
}

#product .pro .des h5{
    font-size: 33px;
    font-family: Chakra Petch;
    margin: 3% 0% 3% 0%;
}

#product .pro .des .star i{
    font-size: 15px;
    color: rgb(249, 208, 6)
}

#product .pro .des h4{
    padding-top: 5px;
    color: #088178;
    font-weight: 700;
    font-size: large;
}

#product .pro .cart{
    height: 11%;
    width: 19%;
    line-height: 81px;
    border-radius: 50px;
    border: 1px solid whitesmoke;
    position: absolute;
    bottom: 8%;
    right: 16%;
    background-color: #ff9a00; 
    color: #088178;
    font-size: 200%;
}
#product .pro:nth-child(1) .des button.colour{
    background-color: #9e9e9e;
}
#product .pro:nth-child(1) .des button.colour2{
    background-color: rgb(205 205 205);
}
#product .pro:nth-child(2) .des button.colour{
    background-color: #f00b0b;
}
#product .pro:nth-child(2) .des button.colour2{
    background-color: rgb(9 123 244);
}
#product .pro:nth-child(3) .des button.colour{
    background-color: rgb(198, 198, 244);
}
#product .pro:nth-child(3) .des button.colour2{
    background-color: rgb(138, 138, 228);
}
#product .pro:nth-child(4) .des button.colour{
    background-color:rgb(164, 161, 119);
}
#product .pro:nth-child(4) .des button.colour2{
    background-color: black;
}
#product .pro:nth-child(5) .des button.colour{
    background-color: darkcyan;
}
#product .pro:nth-child(5) .des button.colour2{
    background-color: rgb(6, 174, 174);
}
#product .pro:nth-child(6) .des button.colour{
    background: linear-gradient(#3e5202b8,brown);
}
#product .pro:nth-child(6) .des button.colour2{
    background-color: burlywood;
}


/* Banner  Section */

#banner{
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0% 3% 2% 3%;
}

#banner .first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url("images/banner/female-white-sneakers-jeans-striped-t-shirt-rattan-bag-coconut-sunglasses-blue-background-copy-space-top-view-banner-121781236.jpg");
    height: 320px;
    background-size: cover;
    width: 188%;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
}

#banner .second{
    background-image: url("images/banner/banner-white-sneakers-orange-background-there-room-text-198246157.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 320px;
    background-size: cover;
    width: 188%;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10%;
}

#banner h4{
    font-size: 45px;
    color: #1d7daa;
    font-weight: 300;
    font-family: Wallpoet ;
}

#banner h2{
    font-size: 28px;
    color:#2dace2;
    font-weight: 800;
    font-family: Wallpoet ;
}

#banner span{
    font-size: 14px;
    color:#111111;
    font-weight: 500;
    padding-bottom: 15px;
    font-family: Wallpoet ;
}

#banner button{
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: #088178;
    background-color: transparent;
    transition: 00.3s, ease;
    cursor: pointer;
    border: 1px solid black;
} 

#banner .first:hover button{
    background-color: #111111;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    transition: 1s;
}
#banner .second:hover button{
    background-color: #111111;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    transition: 1s;
}

/*sign up*/
#notifications{
    display: grid;
    margin: 5% 0 5% 0;
    background-image: url("cposter\,small\,square_product\,1000x1000.2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
    background-position: 5% 70%;
    position: relative;
    height: 731px;
    margin-bottom: 0%;
}

#notifications h4{
    color: #2dd5b5;
    font-size: 37px;
    font-family: Rajdhani;
    margin-top: 5%;
}

#notifications p{
    color: rgb(137, 137, 137);
    font-size: 18px;
    font-weight: 800;
    font-family: Chakra Petch;
}

#notifications p span{
    color: rgb(65, 38, 189);
    font-family: Sofia;
    font-size: x-large;
}

#notifications .form{
    display: flex;
    width: 40%;
}

#notifications input{
    height: 71px;
    padding: 0 1.25em;
    width: 100%;
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    font-size: large;
    box-shadow: 1px 1px 4px;
}

#notifications button{
    background-color: #088178;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 10px 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 77px;
}

/* Footer Section */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1% 6% 1% 6%;
    margin-left: 11%;
    margin-right: 10%;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}

footer .col img{
    height: 172px;
    width: 179px;
    margin-bottom: 15px;
}

footer h4{
    font-size: 24px;
    padding-bottom: 20px;
    color: whitesmoke;
    font-family: "Monoton";
}

footer p{
    font-size: 18px;
    margin: 0 0 8px 0;
    color: rgba(255, 255, 255, 0.692);
    font-family: Trirong;
}

footer p strong{
    color: whitesmoke;
}

footer a{
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    font-family: Trirong;
    color: #05dcc7;
}
footer .col:nth-child(2){
    margin-top: 161px;
}
footer .col:nth-child(2) a{
    font-size: 16px;
}
footer .install{
    margin-top: 4%;
}
footer a:hover{
    color: orange;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #5de2a8;
    padding-right: 10px;
    cursor: pointer;
    font-size: x-large;
}

footer .follow i:hover{
    color: white;
}

footer .install .row img{
    border: 1px solid grey;
    border-radius: 10px;
    width: 130px;
    height: 60px;
}

footer .install img{
    margin: 10px 0 15px 0;
    width: 290px;
    height: 140px;
}

footer .copyright{
    text-align: center;
    width: 100%;
}
/*Shop page*/
#page-header{
    background-image: url('sneakerheader.jpg');
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* width: 100%; */
    padding: 14px;
}
#page-header h2,#page-header p{
   color:white;
   margin-top: 2%;
   font-weight: 300;
   font-family: 'Rajdhani';
}
#page-header h2{
    font-weight: 500;
    font-family: Monoton;
 }
#pagination{
    text-align: center;
    margin: 69px;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    color: white;
    font-weight: 600;
    font-family: Unica One;
    font-size: 24px;
    margin: 3px;
    box-shadow: 2px 2px 8px orange;
}
#pagination a i{
    font-size: 21px;
    /* font-weight: 600; */
}
/*Shop product*/
#product .prod{
    width: 20%;
    height: 509px;
    padding: 18px 22px;
    border: 0px solid slategray;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 4px rgb(0 0 0 / 10%);
    margin: 18px 2px 15px 0px;
    transition: 0.3s ease;
    position: relative;
    top: 10%;
    background-color: rgb(255, 255, 255);
}
#product .prod:hover{
    box-shadow: 0px 0px 25px 10px #f3bc6c57;
}

#product .prod img{
    width: 100%;
    border-radius: 19px;
    z-index: 997;
}

#product .prod .des{
    text-align: start;
}

#product .prod .des span{
    color: slategray;
    font-size: 17px;
    font-family: Unica One;
}

#product .prod .des h3{
    color: #9e9e9e;
    margin-right: 53%;
    font-size: 13px;
}

#product .prod .des button.colour{
    position: absolute;
    right: 37%;
    bottom: 6%;
    border: 0px solid black;
    border-radius: 100px;
    height: 8%;
    width: 14%;
    z-index: 990;
}    

#product .prod .des button.colour:hover{
    background-color: grey;
    cursor: pointer;
    height: 10%;
    width: 18%;
    right: 37%;
    bottom: 6%;
    transition: 1sec;
}

#product .prod .des button.colour2{
    position: absolute;
    right: 27%;
    bottom: 1%;
    border-radius: 100px;
    background-color: rgb(205 205 205);
    border: 0px solid black;
    height: 6%;
    width: 10%;
}

#product .prod .des button.colour2:hover{
    background-color: bisque;
    cursor: pointer;
    height: 7%;
    width: 13%;
    right: 26%;
    bottom: 1%;
    transition: 1sec;
}

#product .prod .des h5{
    color: #1a1a1a;
    font-size: 21px;
    font-family: Chakra Petch;
    margin: 3% 0% 3% 0%;
}

#product .prod .des .star i{
    font-size: 15px;
    color: rgb(249, 208, 6)
}

#product .prod .des h4{
    padding-top: 5px;
    color: #088178;
    font-weight: 700;
    font-size: large;
}

#product .prod .cart{
    height: 10%;
    width: 20%;
    line-height: 52px;
    border-radius: 50px;
    border: 1px solid whitesmoke;
    position: absolute;
    bottom: 8%;
    right: 16%;
    background-color: #ff9a00;
    color: #088178;
    font-size: 144%;
}
#product .prod:nth-child(1) .des button.colour{
    background-color: #9e9e9e;
}
#product .prod:nth-child(1) .des button.colour2{
    background-color: rgb(205 205 205);
}
#product .prod:nth-child(2) .des button.colour{
    background-color: #f00b0b;
}
#product .prod:nth-child(2) .des button.colour2{
    background-color: rgb(9 123 244);
}
#product .prod:nth-child(3) .des button.colour{
    background-color: rgb(198, 198, 244);
}
#product .prod:nth-child(3) .des button.colour2{
    background-color: rgb(138, 138, 228);
}
#product .prod:nth-child(4) .des button.colour{
    background-color:rgb(164, 161, 119);
}
#product .prod:nth-child(4) .des button.colour2{
    background-color: black;
}
#product .prod:nth-child(5) .des button.colour{
    background-color: darkcyan;
}
#product .prod:nth-child(5) .des button.colour2{
    background-color: rgb(6, 174, 174);
}
#product .prod:nth-child(6) .des button.colour{
    background: linear-gradient(#3e5202b8,brown);
}
#product .prod:nth-child(6) .des button.colour2{
    background-color: burlywood;
}

/*Shop page*/

/*Single Product*/
#prodetails{
    margin: 26px;
    display: flex;
    flex-direction: row;
}
#prodetails .sin_pro_image{
    width: 99%;
    margin: 8px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    height: 368px;
}

#small_img_grp{
    margin: 0px 35px;
    width: 124px;
    display: flex;
    justify-content: unset;
    align-items: center;
    height: 521px;
    flex-direction: column;
}
#small_img_grp img{
    width: 140%;
    border-radius: 7px;
    /* box-shadow: 0px 1px 6px white; */
}
#small_img_grp img:hover{
    width: 132.5%;
    box-shadow: 2px 2px 33px white;
    cursor: pointer;
    transition: 0.45s;
}
#MainImg{
    box-shadow: 4px 4px 10px orangered;
    border-radius: 20px;
    width: 75%;
    margin-left: 20px;
    margin-top: 13px;
}
#prodetails .single-prod-details{
    width:50%;
    margin: 36px 0;
}
#prodetails .single-prod-details h6{color: #4f4f4f;font-family: Gruppo;font-size: 22px;margin-bottom: 55px;}
#prodetails .single-prod-details h4{
    color: darkorange;
    font-weight: 600;
    font-size: 58px;
    font-family: Unica One;
}
#prodetails .single-prod-details h2{
    color: white;
    font-family: 'Chakra Petch';
    font-weight: 100;
    font-size: 40px;
    margin-top: 4%;
    margin-left: 3%;
}
#prodetails .single-prod-details h1{
    color: white;
    font-family: Faster One;
    font-weight: 200;
    position: relative;
    font-size: 28px;
    line-height: 51px;
    border-radius: 15px;
    right: -13%;
    text-align: center;
    text-decoration: inherit;
    top: -10%;
    height: 59px;
    width: 241px;
    background-color: orangered;
}
#prodetails .single-prod-details select{
    width: 234px;
    height: 45px;
    color: teal;
    font-size: 21px;
    font-weight: 700;
    background-color: #ffffff26;
    font-family: 'Unica One';
    text-align: center;
    margin-right: 412px;
}
#prodetails .single-prod-details option{
    width: 161px;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    color: teal;
    font-size: 21px;
    font-family: 'Unica One';
    font-weight: 500;
    background-color: #b3b1b108;
    margin-bottom: 48px;
}
#prodetails .single-prod-details option:hover{
    background-color: rgb(255, 123, 75);
}
#prodetails .single-prod-details .number{
    width: 54px;
    height: 42px;
    color: teal;
    font-size: 23px;
    font-weight: unset;
    background-color: #ffffff26;
    font-family: monospace;
    margin-top: 3%;
    text-align: center;
}
#prodetails .single-prod-details span{
    color: #9b9b9b;
    font-family: 'Rajdhani';
    font-size: 19px;
}
#prodetails #rps{
    color: orangered;
    position: relative;
    font-size: 21px;
    top: 11.5%;
}
#prodetails .single-prod-details span h2{
    color: white;
    font-family: 'Chakra Petch';
    font-weight: 100;
    font-size: 26px;
    margin-top: -7%;
    margin-bottom: -3%;
    margin-left: 3%;
}
/*Forum Page*/

#page-header .blog_header{
    background-image: url('images/banner/ezgif-5-c716c902cf.jpg');
}
#blog{
    padding: 0px 150px 0 150px;
}
#blog .blog_box_first{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    border-top: solid 6px slategray;
    margin-bottom: 100px;
}
#blog .blog_box_second{
    display: flex;
    align-items: center;
    position: relative;
    border-top: solid 6px slategrey;
    width: 100%;
    margin-bottom: 100px;
}
#blog .blog_img{
    width: 40%;
    z-index: +1;
    margin-right: 65px;
    margin-top: 100px;
}
#blog .blog_box_second .blog_img{
    width: 40%;
    z-index: +1;
    margin-left: 65px;
    margin-right: 0;
}
#blog img{
    width: 100%;
    box-shadow: 1px 1px 25px orangered;
    border-radius: 20px;
}
#blog .blog_details{
    width: 53%;
    display: grid;
    margin-top: 32%;
}
#blog .blog_box_second .blog_details{
    width: 53%;
    display: grid;
    margin-top: 32%;
    text-align: right;
}
#blog .blog_details h6{
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    color: turquoise;
    position: relative;
    font-family: system-ui;
    height: 70px;
    margin-top: -6%;
    line-height: 5;
}
#blog .cont-read{
    display: none;
}
#blog .blog_details h6:hover + .cont-read {
    display: block;
    transition: 2s;
    font-size: 20px;
    color: floralwhite;
    font-family: 'Rajdhani'
  }
#blog .blog_box_first h1{
    position: absolute;
    top: 140px;
    rotate: 90deg;
    left: 454px;
    font-size: 70px;
    font-weight: 600;
    color: #708090;
    font-family: 'Monoton';
    z-index: 0;
}
#blog .blog_box_second h1{
    position: absolute;
    top: 140px;
    rotate: 270deg;
    left: 489px;
    font-size: 70px;
    font-weight: 600;
    color: lightslategray;
    font-family: 'Monoton';
    z-index: 0;
}
/* About page*/
#page-header .about-header{
    background-image: url("images/banner/ezgif-5-c716c902cf.jpg");
}
#about-head{
    display: flex;
    align-items: center;
    margin: 5% 8%;
}
#about-head img{
    width: 40%;
    height: auto;
    box-shadow: 1px 1px 45px teal;
}
#about-head div{
    padding-left: 40px;
}
#about-head div h2{
    padding-left: 40px;
    color: orangered;
    font-weight: 300;
    font-family: 'Monoton';
}
#about-head div marquee{
    color: teal;
    font-weight: 600;
    font-family: Unica one;
    font-size: 26px;
}
#about-head div p{
    padding-left: 40px;
}
/* Media Query*/
@media(max-width:899px){
    #feat-pro-banner {
        display:none;
    }
    #feature {
        z-index: 998;
        background-image: url("featback.png");
        display: grid;
        align-items: center;
        justify-content: space-between;
        margin-right: 0%;
        margin-left: 0%;
        background-size: 58%;
        margin-top: 10%;
        height: 129%;
        width: 100%;
    }
    footer .col:nth-child(2){
        margin-top: 180px;
    }
    footer .col:nth-child(2) a{
        font-size: 20px;
    }
    footer .install{
        margin-top: 4%;
        margin-left: 26%;
        text-align: center;
    }
    #header{
        padding: 19px 33px;
        width: 752px;
        height: 70px;
    }
    #header img{
    padding-top: 43px;
    scroll-behavior: smooth;
    width: 111px;
    height: 119px;
   }
    #hero{
    background-size: 96%;
    background-image: url("51bcc2a7c163d6bfe69be9a3d67d6986.jpg");
    height: 81vh;
    background-position: top 106% right 5px;
    padding: 50px 80px;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 69px;
    margin-bottom: -9%;
    }   
    #product .pro .des h3 {
       color: #9e9e9e;
    } 
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: -17px;
        right: -311px;
        height: 100vh;
        width: 296px;
        background-color: #088179d9;
        box-shadow: 0 40px 60px #088178;
        padding: 80px 0 0 10px;
        transition: 0.5s;
    }
    #navbar.active{
        right: -3px;
    }
    #navbar li{
        margin-bottom: 30px;
        
    }
    #mobile{
        display:flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 34px;
        padding-left: 60px;
    }
    #feature .fe_box{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: inherit;
        text-align: center;
        display: flex;
        justify-content: flex-start;
        margin-left: -10%;
    }    
    #feature .fe{
        font-family: Unica One;
        width:inherit;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        margin-left: -30%;
        margin-right: 172px;
    }
    #feature .fe h6{
        color: #088178;
        line-height: 2;
        border-radius: 4px;
        margin-right: -36%;
        margin-bottom: 2%;
        box-shadow: 0px 10x 0px 10px #cdebbc;
    }
    #feature .fe_box img{
        width: 204px;
        height: 219px;
        margin-top: 5%;
        margin-left: 16%;
        margin-right: -6%;
        border-radius: 18px;
    }
    
    #feature .fe:nth-child(2) h6{
        background-color: #cdebbc;
        width: 174px;
        font-size: 17px;
        margin-left: 43%;
        /* margin-right: -37%; */
    }
    
    #feature .fe:nth-child(4) h6{
        background-color: #cdd4f8;
        width: 174px;
        font-size: 17px;
        margin-left: 43%;
        margin-bottom: 5%;
    }
    #banner .first{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        background-image: url("images/banner/female-white-sneakers-jeans-striped-t-shirt-rattan-bag-coconut-sunglasses-blue-background-copy-space-top-view-banner-121781236.jpg");
        height: 250px;
        background-size: cover;
        width: 100%;
        background-position: center;
        padding: 24px;
        border-radius: 20px;
    }
    
    #banner .second{
        background-image: url("images/banner/banner-white-sneakers-orange-background-there-room-text-198246157.jpg");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 250px;
        background-size: cover;
        width: 100%;
        background-position: center;
        padding: 24px;
        border-radius: 20px;
        margin-top: 10%;
    }
    
    #banner h4{
        font-size: 45px;
        color: #1d7daa;
        font-weight: 300;
        font-family: Wallpoet ;
    }
    
    #banner h2{
        font-size: 28px;
        color:#2dace2;
        font-weight: 800;
        font-family: Wallpoet ;
    }
    
    #banner span{
        font-size: 14px;
        color:#111111;
        font-weight: 500;
        padding-bottom: 15px;
        font-family: Wallpoet ;
    }
    #product .pro{
        width: 41%;
        padding: 17px 20px;
        border: 0px solid slategray;
        border-radius: 20px;
        box-shadow: 1px -6px 60px -12px #ff9a00;
        margin: 15px 8px 15px 8px;
        transition: 0.3s ease;
        position: relative;
        height: 558px;
        top: 10%;
        background-color: rgb(255, 255, 255);
    }
    #product .prod{
        width: 28%;
        height: 404px;
        padding: 14px 17px;
        border: 0px solid slategray;
        border-radius: 20px;
        box-shadow: 0px 0px 2px 4px rgb(0 0 0 / 10%);
        margin: 16px -5px 19px 7px;
        transition: 0.3s ease;
        position: relative;
        top: 10%;
        background-color: rgb(255, 255, 255);
    }
    #product .prod img{
        width: 100%;
        border-radius: 19px;
        z-index: 997;
    }
    
    #product .prod .des{
        text-align: start;
    }
    
    #product .prod .des span{
        color: slategray;
        font-size: 17px;
        font-family: Unica One;
    }
    
    #product .prod .des h3{
        color: #9e9e9e;
        margin-right: 53%;
        font-size: 14px;
    }
    
    #product .prod .des button.colour{
        position: absolute;
        right: 37%;
        bottom: 6%;
        border: 0px solid black;
        border-radius: 100px;
        height: 8%;
        width: 14%;
        z-index: 990;
    }    
    
    #product .prod .des button.colour:hover{
        background-color: grey;
        cursor: pointer;
        height: 10%;
        width: 18%;
        right: 37%;
        bottom: 6%;
        transition: 1sec;
    }
    
    #product .prod .des button.colour2{
        position: absolute;
        right: 27%;
        bottom: 1%;
        border-radius: 100px;
        background-color: rgb(205 205 205);
        border: 0px solid black;
        height: 6%;
        width: 10%;
    }
    
    #product .prod .des button.colour2:hover{
        background-color: bisque;
        cursor: pointer;
        height: 7%;
        width: 13%;
        right: 26%;
        bottom: 1%;
        transition: 1sec;
    }
    
    #product .prod .des h5{
        color: #1a1a1a;
        font-size: 21px;
        font-family: Chakra Petch;
        margin: 3% 0% 3% 0%;
    }
    
    #product .prod .des .star i{
        font-size: 15px;
        color: rgb(249, 208, 6)
    }
    
    #product .prod .des h4{
        padding-top: 5px;
        color: #088178;
        font-weight: 700;
        font-size: large;
    }
    
    #product .prod .cart{
        height: 10%;
        width: 19%;
        line-height: 52px;
        border-radius: 50px;
        border: 1px solid whitesmoke;
        position: absolute;
        bottom: 8%;
        right: 16%;
        background-color: #ff9a00;
        color: #088178;
        font-size: 144%;
    }
    #hero h6 {
        margin: 0px;
        padding-bottom: 15px;
        color: rgb(237, 101, 101);
        margin-top: -45%;
        font-size: x-large;
    }
    .install{
        margin-left: 60%;
        margin-top: -15%;
    }
    #navbar li a{
    text-decoration: none;
    font-size: 28.7px;
    font-family: 600;
    font: lighter;
    color:rgb(0, 0, 0);
    transition: 0.2s ease;
    }
    
    #close{
        display: initial;
        position:absolute;
        color:black;
        top: 20px;
        left: 18px;
        font-size: 25px;
    }
    #cart{
        display:none;
    }
    #navbar li a::after
    {
        content: "";
        width: 37%;
        height: 6px;
        background: orangered;
        position: absolute;
        bottom: -20px;
        left: 40px;
    }
    #navbar li a.active::after{
        content: "";
        width: 115%;
        height: 6px;
        background: orangered;
        position: absolute;
        bottom: -12px;
        left: 40px;
    }
    #product .product_container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    #page-header{
        height: 33vh;
    }
    #prodetails{
        margin-left: -75px;
    }
    #small_img_grp{
        /* margin: 0px 24px; */
        margin-right: 18px;
        width: 154px;
        display: flex;
        justify-content: unset;
        align-items: center;
        height: 521px;
        flex-direction: column;
    }
    #small_img_grp img{
        width: 149%;
        border-radius: 7px;
        /* box-shadow: 0px 1px 6px white; */
    }
    #small_img_grp img:hover{
        width: 132.5%;
        box-shadow: 2px 2px 33px white;
        cursor: pointer;
        transition: 0.45s;
    }
    #MainImg{
        width: 90%;
        margin-top: 40px;
        margin-right: -19px;
    }
    #prodetails .single-prod-details{
        width: 40%;
        margin: 43px 0px;
        margin-left: 7px;
    }
    #prodetails .single-prod-details h4{
        font-size: 48px;
        margin-top: 100px;
    }
    #prodetails .single-prod-details h2{
        font-size: 37px;
        margin-left: 5%;
    }
    #prodetails .single-prod-details h1{
        position: relative;
        right: -27%;
        top: -7%;
        background-color: orangered;
    }
    #prodetails .single-prod-details select{
        height: 50px;
        font-size: 24px;
        text-align: center;
        margin-right: 120px;
    }
    #prodetails .single-prod-details option{
        font-size: 15px;
    }
    #prodetails .single-prod-details option:hover{
        background-color: rgb(255, 123, 75);
    }
    #prodetails .single-prod-details .number{
        width: 57px;
        height: 56px;
        font-size: 30px;
        margin-top: 8%;
    }
    #prodetails .single-prod-details span{
        font-size: 21px;
        position: relative;
        left: -112%;
    }
    #prodetails #rps{
        top: 6%;
    }
    #prodetails .single-prod-details span h2{
        font-size: 26px;
        margin-top: -7%;
        margin-bottom: -3%;
        margin-left: 20%;
    }
    #prodetails .sin_pro_image {
        width: 98%;
        margin: 8px;
        display: flex;
        flex-direction: row;
        margin-top: 118px;
        height: 368px;
        margin-left: 59px;
    }
    #blog{
        padding: 0px 75px 0 75px;
    }
    #blog .blog_box_first{
        width: 100%;
        margin-bottom: 100px;
    }
    #blog .blog_box_second{
        position: relative;
    }
    #blog .blog_img{
        margin-right: 70px;
        margin-top: -29px;
    }
    #blog .blog_box_second .blog_img{
        width: 40%;
        z-index: +1;
        margin-left: 36px;
        margin-right: 0;
    }
    #blog img{
        width: 304px;
    }
    #blog .blog_details{
        width: 52%;
        margin-top: 50%;
    }
    #blog .blog_box_second .blog_details{
        width: 53%;
        display: grid;
        margin-top: 50%;
        text-align: right;
    }
    #blog .blog_details h6{
        font-size: 14px;
        text-decoration: none;
        font-weight: 700;
        color: turquoise;
        position: relative;
        font-family: system-ui;
        height: 70px;
        margin-top: -6%;
        line-height: 5;
    }
    #blog .cont-read{
        display: none;
    }
    #blog .blog_details h6:hover + .cont-read {
        display: block;
        transition: 2s;
        font-size: 20px;
        color: floralwhite;
        font-family: 'Rajdhani'
      }
    #blog .blog_box_first h1{
        top: 110px;
        left: 272px;
        font-size: 60px;
    }
    #blog .blog_box_second h1{
        top: 110px;
        left: 237px;
        font-size: 60px;
    }

}
@media (max-width:477px){
    #header{
        padding: 6px 34px;
        width: 355px;
    }
        #header img{
        padding-top: 43px;
        scroll-behavior: smooth;
        width: 87px;
        height: 90px;
    }
    #feat-pro-banner {
        display:none;
    }
   #hero{
        background-size: 101%;
        background-image: url("51bcc2a7c163d6bfe69be9a3d67d6986.jpg");
        height: 100%;
        background-position: top 61% right -16px;
        padding: 62px 101px 11px 35px;
        display: flex;
        background-repeat: no-repeat;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-bottom: 37px;
        width: 272px;
        margin-bottom: 0%;
        margin-top: -22px;
    }  
        #hero h6{
        margin:0px;
        padding-bottom: 15px;
        color: rgb(237, 101, 101);
        margin-top: 7%;
        font-size: 20px;
    }
    footer .col:nth-child(2){
        margin-top: -8px;
    }
    footer .col:nth-child(2) a{
        font-size: 16px;
    }
    footer .install{
        margin-top: 4%;
    }
    #hero h1{
        margin:0px;
        color: orangered;
        margin-top: 2%;
        font-size: 35px;
        margin-bottom: 165px;
        line-height: 35px;
    }

    #hero h2{
        margin:0px;
        color: #11c1b6;
        font-size: 43px;
    }

    #hero button{
        color: whitesmoke;
        font-size: 19px;
        font-weight: 600;
        background-image: url(button.png);
        background-blend-mode: difference;
        background-color: transparent;
        border: 0;
        background-size: 100%;
        height: 54px;
        width: 119px;
    }
    #feature .fe_box{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: inherit;
        text-align: center;
        display: flex;
        justify-content: flex-start;
        margin-left: -11%;
    }    
    #feature .fe{
        font-family: Unica One;
        width:inherit;
        text-align: center;
        display: flex;
        justify-content: unset;
        margin-right: 0%;
    }
    #feature .fe h6{
        color: #088178;
        line-height: 2;
        border-radius: 4px;
        margin-right: -36%;
        margin-bottom: 2%;
        box-shadow: 0px 10x 0px 10px #cdebbc;
    }
    #feature .fe_box img{
        width: 113px;
        height: 139px;
        margin-top: 5%;
        margin-right: -12%;
        border-radius: 18px;
    }
    
    #feature .fe:nth-child(2) h6{
        background-color: #cdebbc;
        width: 104px;
        font-size: 11px;
        margin-left: 38%;
        /* margin-right: -37%; */
    }
    
    #feature .fe:nth-child(4) h6{
        background-color: #cdd4f8;
        width: 104px;
        font-size: 11px;
        margin-left: 38%;
        margin-bottom: 5%;
    }
    #product .pro{
        height: 420px;
        width: 39%;
        padding: 11px 13px;
        border: 0px solid slategray;
        border-radius: 20px;
        box-shadow: 2px -1px 60px -19px #ff9a00;
        margin: 9px 0px 13px 6px;
        transition: 0.3s ease;
        position: relative;
        top: 10%;
        right: 2%;
        background-color: rgb(255, 255, 255);
   }
   #product .prod{
        width: 39%;
        height: 336px;
        padding: 13px 13px;
        border: 0px solid slategray;
        border-radius: 20px;
        box-shadow: 0px 0px 2px 4px rgb(0 0 0 / 10%);
        margin: 17px 16px 15px 0px;
        transition: 0.3s ease;
        position: relative;
        top: 10%;
        background-color: rgb(255, 255, 255);
    }
   #product .pro img{
    width: 100%;
    height: 52%;
    border-radius: 20px;
    z-index: 997;
   }
   #banner .first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 170px;
    width: 100%;
    padding: 25px;
    border-radius: 20px;
    background: url(images/banner/female-white-sneakers-jeans-striped-t-shirt-rattan-bag-coconut-sunglasses-blue-background-copy-space-top-view-banner-121781236.jpg);
}

#banner .second{
    background-image: url("images/banner/banner-white-sneakers-orange-background-there-room-text-198246157.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 170px;
    background-size: cover;
    width: 100%;
    background-position: right;
    padding: 25px;
    border-radius: 20px;
    margin-top: 10%;
    }

    #banner h4{
        font-size: 28px;
        color: orangered;
        font-weight: 300;
        font-family: Wallpoet;
    }

    #banner h2{
        font-size: 16px;
        color: black;
        font-weight: 100;
        font-family: Wallpoet;
        line-height: 23px;
        margin-right: 72px;
    }

    #banner span{
        font-size: 12px;
        color:#111111;
        font-weight: 500;
        padding-bottom: 15px;
        font-family: Wallpoet;
    }

    #banner button{
        font-size: 10px;
        font-weight: 600;
        padding: 11px 18px;
        color: #faf8f8;
        background-color: black;
        transition: 00.3s, ease;
        cursor: pointer;
        border: 1px solid black;
    } 
    #product h2{
        font-size: 36px;
        margin-left: 30px;
    }
    #product p{
        margin-top: -7%;
        font-size: 14px;
        margin-left: 30px;
    }
    #notifications h4{
        color: #2dd5b5;
        font-size: 24px;
        font-family: Rajdhani;
        margin-top: 60%;
    } 
    #feature {
        z-index: 998;
        background-image: url("featback.png");
        display: grid;
        align-items: center;
        justify-content: space-between;
        margin-right: 0%;
        margin-left: 0%;
        background-size: 58%;
        margin-top: 10%;
        height: 129%;
        width: 113%;
    }
    #notifications{
        display: grid;
        margin: -29% 0 5% 0;
        background-image: url("cposter\,small\,square_product\,1000x1000.2.jpg");
        background-repeat: no-repeat;
        background-size: 117%;
        padding: 50px;
        background-position: 12% 73%;
        width: 323px;
        margin-bottom: 0%;
    }
    #notifications p{
        color: rgb(137, 137, 137);
        font-size: 14px;
        font-weight: 800;
        font-family: Chakra Petch;
        margin: 9% 17% 0 0;
    }

    #notifications p span{
        color: rgb(65, 38, 189);
        font-family: Sofia;
        font-size: 16px;
    }
    #notifications .form{
    display: flex;
    width: 46%;
    flex-wrap: wrap;
    align-content: start;
    }

    #notifications input{
        height: 39px;
        padding: 0 1.25em;
        width: 132%;
        border-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        outline: none;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        font-size: small;
        box-shadow: 1px 1px 4px;
        margin-top: -45%;
    }

    #notifications button{
        background-color: #088178;
        color: white;
        outline: none;
        border: none;
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s ease;
        margin-left: 61px;
        padding: 10px 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 32px;
        height: 43px;
        margin-top: -9px;
    }
        footer .col img{
        height: 147px;
        width: 160px;
        margin-bottom: 15px;
    }
    footer h4{
        font-size: 19px;
        padding-bottom: 4px;
        color: whitesmoke;
        font-family: "Monoton";
    }
    footer p{
        font-size: 13px;
        margin: 0 0 8px 0;
        color: rgba(255, 255, 255, 0.692);
        font-family: Trirong;
    }
    footer a{
        font-size: 15px;
        text-decoration: none;
        color: #1be0d3;
        margin-bottom: 5px;
        font-family: Trirong;
    }
    .install{
        margin-left: 10%;
        margin-top: -2%;
    }
    .install p{
        margin-left: 15%;
        color: #faf8f8;
    }
    #product .pro .des span{
        color: slategray;
        font-size: 17px;
        font-family: Unica One;
    }

    #product .pro .des h3{
        color: #9e9e9e;
        font-size: 13px;
        margin-right: 62%;
    }

    #product .pro .des button.colour{
        position: absolute;
        right: 37%;
        bottom: 6%;
        border: 0px solid black;
        border-radius: 100px;
        height: 8%;
        width: 18%;
        z-index: 990;
    }    

    #product .pro .des button.colour:hover{
        background-color: grey;
        cursor: pointer;
        height: 10%;
        width: 18%;
        right: 37%;
        bottom: 6%;
        transition: 1sec;
    }

    #product .pro .des button.colour2{
        position: absolute;
        right: 27%;
        bottom: 1%;
        border-radius: 100px;
        background-color: rgb(205 205 205);
        border: 0px solid black;
        height: 6%;
        width: 13%;
    }

    #product .pro .des button.colour2:hover{
        background-color: bisque;
        cursor: pointer;
        height: 7%;
        width: 13%;
        right: 26%;
        bottom: 1%;
        transition: 1sec;
    }

    #product .pro .des h5{
        color: #1a1a1a;
        font-size: 25px;
        font-family: Chakra Petch;
        margin: 3% 0% 3% 0%;
        height: 59px;
    }

    #product .pro .des i{
        font-size: 16px;
        color: rgb(243, 181, 25);
    }

    #product .pro .des h4{
        padding-top: 5px;
        color: #088178;
        font-weight: 700;
        font-size: large;
    }

    #product .pro .cart{
        height: 11%;
        width: 26%;
        line-height: 46px;
        border-radius: 50px;
        border: 1px solid whitesmoke;
        position: absolute;
        bottom: 8%;
        right: 9%;
        color: #088178;
        font-size: 138%;
    }
    #product .product_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 400px;
        margin-left: -11%;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 34px;
        padding-left: 60px;
    }
    #navbar li a{
    text-decoration: none;
    font-size: 19.7px;
    font-family: 600;
    font: lighter;
    color:rgb(0, 0, 0);
    transition: 0.2s ease;
    }
    
    #close{
        display: initial;
        position:absolute;
        color:black;
        top: 20px;
        left: 18px;
        font-size: 25px;
    }
    #navbar li a::after
    {
        content: "";
        width: 26%;
        height: 5px;
        background: orangered;
        position: absolute;
        bottom: -8px;
        left: 40px;
    }
    #navbar li a.active::after{
        content: "";
        width: 86%;
        height: 5px;
        background: orangered;
        position: absolute;
        bottom: -12px;
        left: 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: -17px;
        right: -289px;
        height: 101vh;
        width: 205px;
        background-color: #088179d9;
        box-shadow: 0 40px 60px #088178;
        padding: 71px 0 0 1px;
        transition: 0.5s;
    }
    #navbar.active{
        right: -38px;
    }
    #navbar li{
        margin-bottom: 21px;
    }
    #mobile{
        display:flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 29px;
    }
    #product .prod img{
        width: 100%;
        border-radius: 19px;
        z-index: 997;
    }
    
    #product .prod .des{
        text-align: start;
    }
    
    #product .prod .des span{
        color: slategray;
        font-size: 17px;
        font-family: Unica One;
    }
    
    #product .prod .des h3{
        color: #9e9e9e;
        margin-right: 53%;
        font-size: 13px;
    }
    
    #product .prod .des button.colour{
        position: absolute;
        right: 37%;
        bottom: 6%;
        border: 0px solid black;
        border-radius: 100px;
        height: 8%;
        width: 16%;
        z-index: 990;
    }    
    
    #product .prod .des button.colour:hover{
        background-color: grey;
        cursor: pointer;
        height: 10%;
        width: 18%;
        right: 37%;
        bottom: 6%;
        transition: 1sec;
    }
    
    #product .prod .des button.colour2{
        position: absolute;
        right: 27%;
        bottom: 1%;
        border-radius: 100px;
        background-color: rgb(205 205 205);
        border: 0px solid black;
        height: 6%;
        width: 12%;
    }
    
    #product .prod .des button.colour2:hover{
        background-color: bisque;
        cursor: pointer;
        height: 7%;
        width: 13%;
        right: 26%;
        bottom: 1%;
        transition: 1sec;
    }
    
    #product .prod .des h5{
        color: #1a1a1a;
        font-size: 18px;
        font-family: Chakra Petch;
        margin: 3% 0% 3% 0%;
    }
    
    #product .prod .des .star i{
        font-size: 15px;
        color: rgb(249, 208, 6)
    }
    
    #product .prod .des h4{
        padding-top: 5px;
        color: #088178;
        font-weight: 700;
        font-size: large;
    }
    
    #product .prod .cart{
        height: 11%;
        width: 21%;
        line-height: 43px;
        border-radius: 50px;
        border: 1px solid whitesmoke;
        position: absolute;
        bottom: 8%;
        right: 14%;
        background-color: #ff9a00;
        color: #088178;
        font-size: 121%;
    }
    #page-header{
        height: 32vh;
        width: 105%;
        /* font-size: 20px; */
    }
    #page-header h2{
        font-weight: 500;
        font-family: Monoton;
        font-size: 30px;
    }
    #prodetails{
        margin-left: 0px;
        flex-direction: column;
    }
    #small_img_grp{
        margin: 0px 32px;
        width: 167px;
        display: flex;
        justify-content: unset;
        align-items: center;
        height: 355px;
        flex-direction: column;
    }
    #small_img_grp img{
        width: 134%;
        border-radius: 7px;
        /* box-shadow: 0px 1px 6px white; */
    }
    #small_img_grp img:hover{
        width: 132.5%;
        box-shadow: 2px 2px 33px white;
        cursor: pointer;
        transition: 0.45s;
    }
    #MainImg{
        width: 94%;
        margin-top: 18px;
    }
    #prodetails .single-prod-details{
        width: 100%;
        margin: 43px;
    }
    #prodetails .single-prod-details h6{
    font-size: large;
    margin-bottom: 13px;
    margin-top: -17%;
}
    #prodetails .single-prod-details h4{
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 6%;
    }
    #prodetails .single-prod-details h2{
        font-size: 32px;
        margin-left: 5%;
        margin-top: -10%;
        margin-bottom: 13px;
    }
    #prodetails .single-prod-details h1{
        position: relative;
        right: -24%;
        margin: 0;
        margin-top: -12%;
        background-color: orangered;
    }
    #prodetails .single-prod-details select{
        height: 33px;
        width: 166px;
        font-size: 20px;
        text-align: center;
        margin-right: 170px;
    }
    #prodetails .single-prod-details option{
        font-size: 15px;
    }
    #prodetails .single-prod-details option:hover{
        background-color: rgb(255, 123, 75);
    }
    #prodetails .single-prod-details .number{
        width: 47px;
        height: 37px;
        font-size: 24px;
        margin-top: 6%;
    }
    #prodetails .single-prod-details span{
        font-size: 19px;
        left: -6%;
    }
    #prodetails .single-prod-details span h2{
        font-size: 22px;
        margin-top: 6%;
        margin-bottom: -8%;
        margin-left: 0%;
    }
    #blog{
        padding: 0px 30px 0 30px;
        width: 96%;
    }
    #blog .blog_box_first{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
    #blog .blog_box_second{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        border-top: solid 6px slategrey;
        width: 100%;
        margin-bottom: 20px;
    }
    #blog .blog_img{
        width: 58%;
        margin-right: 107px;
        margin-top: 44px;
    }
    #blog .blog_box_second .blog_img{
        width: 58%;
        z-index: +1;
        margin-left: 101px;
        position: absolute;
        margin-right: 0;
    }
    #blog img{
        width: 100%;
        box-shadow: 1px 1px 29px #55585c;
        border-radius: 20px;
    }
    #blog .blog_details{
        width: 95%;
        display: grid;
        margin-top: 7%;
    }
    #blog .blog_box_second .blog_details{
        width: 95%;
        display: grid;
        margin-top: 93%;
        text-align: right;
    }
    #blog .blog_details h6{
        font-size: 11px;
        position: relative;
        margin-top: -6%;
        line-height: 5;
    }
    #blog .cont-read{
        display: none;
    }
    #blog .blog_details h6:hover + .cont-read {
        display: block;
        transition: 2s;
        font-size: 16px;
        color: floralwhite;
        font-family: 'Rajdhani'
      }
    #blog .blog_box_first h1{
        position: absolute;
        top: 91px;
        rotate: 90deg;
        left: 196px;
        font-size: 55px;
        font-weight: 600;
        color: #708090;
        font-family: 'Monoton';
        z-index: 0;
    }
    #blog .blog_box_second h1{
        position: absolute;
        top: 91px;
        rotate: 270deg;
        left: -10px;
        font-size: 55px;
        font-weight: 600;
        color: lightslategray;
        font-family: 'Monoton';
        z-index: 0;
    }
    #prodetails .sin_pro_image {
        width: 103%;
        margin: 8px;
        display: flex;
        flex-direction: row;
        margin-top: 32px;
        height: 368px;
        margin-left: 16px;
    }
    h4 {
        font-size: 26px;
    }
    p {
        font-size: 16px;
    }
}
